<% provide :title, t(".products_title") %>
<div class="kenh14-border" id="blog-title" >
  <h1><%= t ".products_title" %></h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th class="text-col"><%= t ".index" %></th>
        <th class="text-col"><%= t ".image" %></th>
        <th class="text-col"><%= t ".name" %></th>
        <th class="text-col"><%= t ".manufacture" %></th>
        <th class="text-col"><%= t ".net_weight" %></th>
        <th class="text-col"><%= t ".price" %></th>
        <th class="text-col"><%= t ".category" %></th>
        <th class="text-col"><%= t ".supplier" %></th>
        <th class="text-col"><%= t ".description" %></th>
        <th class="text-col"><%= t ".delete" %></th>
        <th class="text-col"><%= t ".update" %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each.with_index do |product, index| %>
        <tr>
          <td class="text-col">
            <% params[:page] ||= Settings.value.admin_page %>
          </td>
          <td>
            <% product.images.each do |img| %>
              <%= image_tag img.url.to_s, style: "max-width: 100px; max-height: 100px", class: "img-responsive" %>
            <% end %>
          </td>
          <td class="text-col"><%= product.name %></td>
          <td class="text-col"><%= product.manufacture %></td>
          <td class="text-col"><%= product.net_weight %></td>
          <td class="text-col"><%= product.price %></td>
          <td class="text-col"><%= product.category.name %></td>
          <td class="text-col">
            <% product.suppliers.each do|supplier| %>
              <%= supplier.name %>
            <% end %>
          </td>
          <td class="text-col"><%= product.description %></td>
          <td class="text-col">
            <%= link_to raw("<span class='glyphicon glyphicon-trash text-danger'></span>"), [:admin, product], method: :delete,
            data: {confirm: t(".confirm_delete"), remote: true}, class: "delete" %>
          </td>
          <td class="text-col">
            <%= link_to edit_admin_product_path(product) do %>
              <i class="fa fa-refresh"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

