<% provide :title, t(".base_title") %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2><%= t ".cate" %></h2>
          <div class="panel-group category-products" id="accordian">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <%= link_to "#" do %>
                    <span class="badge pull-right">
                      <i class="fa fa-plus"></i>
                    </span>
                    <%= t ".skincare" %>
                  <% end %>
                </h4>
              </div>
              <div class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <li><%= link_to t(".cleansers"), "#" %></li>
                    <li><%= link_to t(".moisturizer"), "#" %></li>
                    <li><%= link_to t(".serums"), "#" %></li>
                    <li><%= link_to t(".eye"), "#" %></li>
                    <li><%= link_to t(".suncare"), "#" %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#"><% t ".cate_miroless" %></a></h4>
              </div>
            </div>
            <div class="brands_products">
              <h2><%= t ".brands" %></h2>
              <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <%= link_to "#" do %>
                      <span class="pull-right"><%= t ".brand_1_num" %></span>
                      <%= t ".brand_1_value" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="pull-right"><%= t ".brand_1_num" %></span>
                      <%= t ".brand_1_value" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="pull-right"><%= t ".brand_1_num" %></span>
                      <%= t ".brand_1_value" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="pull-right"><%= t ".brand_1_num" %></span>
                      <%= t ".brand_1_value" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="pull-right"><%= t ".brand_1_num" %></span>
                      <%= t ".brand_1_value" %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>  
            <div class="price-range">
              <h2><%= t ".price_range" %></h2>
              <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
                <b class="pull-left"><%= t ".from" %></b> <b class="pull-right"><%= t ".to" %></b>
              </div>
            </div>    
            <div class="shipping text-center">
            </div>
          </div>
        </div>  
      </div>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center"><%= t ".items" %></h2>
          <% @products.each do |product| %>
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <%= image_tag product.images.last.url.to_s, alt: "produt_i:e" %>
                    <h2><%= product.price %></h2>
                    <p><%= product.name %></p>
                    <%= link_to "#", class: "btn btn-default add-to-cart" do %>
                      <i class="fa fa-shopping-cart"></i><%= t ".add_cart" %>
                    <% end %>
                  </div>
                  <div class="product-overlay">
                    <div class="overlay-content">
                      <h2><%= product.price %></h2>
                      <p><%= product.name %></p>
                      <%= link_to "#", class: "btn btn-default add-to-cart" do %>
                      <i class="fa fa-shopping-cart"></i><%= t ".add_cart" %>
                    <% end %>
                    </div>
                  </div>
                </div>
                <div class="choose">
                  <ul class="nav nav-pills nav-justified">
                    <li>
                      <%= link_to "#" do %>
                        <i class="fa fa-eye"></i><%= t ".show_detail" %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
