<header id="header">
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-phone"></i><%= t ".phone" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-envelope"></i><%= t ".email" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to t(".facebook") do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
              </li>
              <li>
                <% link_to t(".google") do %>
                  <i class="fab fa-google-plus-g"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>	
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <%= link_to image_tag("home/logo.png", alt: "Shop logo"), root_path %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li>
                <% render "carts/cart_text" %>
                <%= link_to "#" do %>
                  <i class="fa fa-shopping-cart"></i><%= t ".cart" %>
                <% end %>
              </li>
              <li>
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"}  do %>
                      <i class="fa fa-user"></i><%= current_user.email %>
                      <b class="caret"></b>
                    <% end %>
                    <ul class="dropdown-menu">
                      <li><%= link_to t(".profile"), "#" %></li>
                      <li><%= link_to t(".settings"), edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <%= link_to new_user_session_path do %>
                    <i class="fa fa-lock"></i><%= t ".login" %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><%= link_to t(".home"), root_path, class: "active" %></li>
              <li><%= link_to t(".about"), help_path %></li>
              <li><%= link_to t(".help"), help_path %></li>
              <li><%= link_to t(".contact"), contact_path %></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="search_box pull-right">
            <%= form_tag products_path, method: :get, class:"d-flex" do %>
              <div class="search-container">
                <%= text_field_tag :product_name, params[:product_name], class: "form-control", placeholder: "Search..", data: {autocomplete_source: products_path} %>
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
